<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">simpleBlog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin/dashboard">Edit <span class="sr-only">(current)</span></a></li>
        <li><a href="/admin/add">Add posts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<li><a href="/admin/settings">Settings</a></li>
            <li><a href="/admin/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form name="formEdit" id="formEdit" method="post" action="/admin/edit/{{results.id}}">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" name="title" value="{{results.title}}">
        </div>
        <div class="form-group">
          <label for="content">Content:</label>
          <textarea name="contentPost" id="contentPost" class="form-control" rows="10">{{results.body}}</textarea>
        </div>
      <button type="submit" class="btn btn-info">Update</button>
      </form>
    </div>
  </div>
</div>